h1 {
  display: inline;
  text-align: left;
  font-size: 50px;
  font-family: "Comfortaa", cursive;
  color: #ffff;
}

h2 {
  font-family: "Comfortaa", cursive;
  color: #ffff;
  text-align: center;
  font-size: 25px;
}

ul {
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  color: #ffff;
  font-family: "Comfortaa", cursive;
}

form {
  width: 100% flex;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  display: center;
  max-width: 100%;
  font-family: "Comfortaa", cursive;
}

hr {
  color: #ffff;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
}

#city {
  font-size: 50px;
}

.bg-img {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/038/264/original/purple1.jpg?1656017436);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  justify-content: center;
}

.weather-app-wrapper {
  max-width: 700px;
  height: 50%;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.777);
  opacity: 0.8;
  overflow: hidden;
}

.search-button {
  border: 1px solid #edf7ff;
  background: #f3faff;
  color: rgb(2, 2, 2);
  text-align: center;
}

.location-button {
  border: 1px solid #edf7ff;
  background: #f3faff;
  color: rgb(2, 2, 2);
  margin-left: 10px;
}

.weatherInfo {
  padding-left: 15px;
}

.description {
  padding-top: 20px;
  font-size: 14px;
}

.number {
  color: #f9b518;
}

.img-today {
  max-width: 200px;
  max-height: 200px;
  display: flex;
  bottom: 15px;
  flex-direction: column;
  right: 5px;
}

.temperature-container {
  color: #ffff;
  font-family: "Comfortaa", cursive;
  text-align: right;
}

#temperature {
  font-size: 50px;
  display: flex right;
  left: 1px;
}

.units {
  color: #ffff;
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  position: relative;
  bottom: 29px;
  left: 2px;
}

.fahrenheit-link {
  position: relative;
  top: 23px;
  right: 17px;
  text-decoration: none;
  color: #ffff;
  cursor: default;
}

.fahrenheit-link:hover {
  cursor: pointer;
  color: #f9b518;
  text-decoration: none;
}

.celsius-link {
  text-decoration: none;
  color: #ffff;
  cursor: default;
}

.celsius-link:hover {
  cursor: pointer;
  color: #f9b518;
  text-decoration: none;
}

.weather-temperature {
  text-align: right;
  font-size: 50px;
  position: relative;
  bottom: 5px;
  right: 15px;
}

.weatherForecast {
  font-family: "Comfortaa", cursive;
  color: #ffff;
  display: block flex;
  text-align: center;
  padding-top: 20px;
}

.img {
  max-width: 100px;
  max-height: 100px;
  padding: 0;
}

.forecast-day {
  font-weight: 900;
}

.forecast-temperature-min {
  opacity: 0.5;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
